@model IndexData

@{
    ViewBag.Title = "Recruterra - Отклики";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-2c2c2c">Сводка</a>
                    <a href="/Home/Vacancy" class="color-2c2c2c">Вакансии</a>
                    <a href="/Home/Meeting" class="color-2c2c2c">Встречи</a>
                    <a href="/Home/Resume" class="color-2c2c2c">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="/Settings/Account" class="color-green">Профиль</a>
                    <a class="color-green" onclick="UpdateAccount()">Выйти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Access/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container justify-content-center mrtop16 dd-flex minheight">
    <div class="account-left">
        <p class="font-bolder font-18">Настройки пользователя</p>
        <p class="font-bolder font-16 mrleft16 mrtop16">Выберите нужное</p>
        @if (Model.User != null)
        {
            if (Model.User.Role == "Соискатель")
            {
                <a href="/Settings/Account" class="font-16 color-2c2c2c hover-underline" style="cursor: pointer">
                    <label class="form-check-label mrtop3 cursor-pointer mrleft16">• Основная информация</label>
                </a>
                <a href="/Settings/MyResume" class="font-16 color-2c2c2c hover-underline" style="cursor: pointer">
                    <label class="form-check-label mrtop3 cursor-pointer mrleft16">• Резюме</label>
                </a>
                <a href="/Settings/Responses" class="font-16 color-2c2c2c hover-underline" style="cursor: pointer">
                    <label class="form-check-label mrtop3 cursor-pointer mrleft16">• Отклики</label>
                </a>
            }
            else if (Model.User.Role == "Работодатель")
            {
                <a href="/Settings/Account" class="font-16 color-2c2c2c hover-underline" style="cursor: pointer">
                    <label class="form-check-label mrtop3 cursor-pointer mrleft16">• Основная информация</label>
                </a>
                <a href="/Settings/Responses" class="font-16 color-2c2c2c hover-underline" style="cursor: pointer">
                    <label class="form-check-label mrtop3 cursor-pointer mrleft16">• Отклики</label>
                </a>
            }
        }
    </div>
    <div class="account-right justify-content-start">
        @if (Model.User.Role == "Работодатель")
        {
            foreach (var a in Model.Responses.OrderByDescending(a => a.Id))
            {
                List<Vacancy> _vacancies = new List<Vacancy>();
                foreach (var b in Model.Vacancies)
                {
                    if (b.IdEmployer == Model.User.Id)
                    {
                        _vacancies.Add(b);
                    }
                }
                foreach (var c in _vacancies)
                {
                    if (a.IdVacancy == c.Id)
                    {
                        var resume = Model.Resumes.FirstOrDefault(m => m.Id == a.IdUser);

                        <div class="account-back mrbottom16">
                            <form>
                                <p>@a.DateAndTime.ToString("f")</p>
                                <p>Отклик на вакансию: @c.Position</p>
                                <p>@resume.LastName @resume.FirstName @resume.MiddleName</p>
                                @{var date = resume.DateOfBirth.Value;
                                    var age = DateTime.Now.Year - date.Year;
                                    if (DateTime.Now.DayOfYear < date.DayOfYear)
                                    {
                                        age++;
                                    }
                                }
                                <p class="mrtop16">Возраст: @age @Model.GetYearNameInRussian(age)</p>
                                @if (resume.WorkExperience == 0)
                                {
                                    <p>Опыт работы: @Model.GetYearNameInRussian(resume.WorkExperience)</p>
                                }
                                else
                                {
                                    <p>Опыт работы: @resume.WorkExperience @Model.GetYearNameInRussian(resume.WorkExperience)</p>
                                }
                                <p>Предполагаемая должность: @resume.Position</p>
                                <p>Предполагаемая заработная плата: @resume.Salary руб.</p>
                                <p>Город: @resume.City.Name</p>
                                <p>Образование: @resume.Education</p>
                                <p class="mrtop16">Дополнительная информация: @resume.AdditionalInformation</p>
                                @if (a.IsAccepted == 0)
                                {
                                    <input type="button" class="btn btn-outline-dark w-200 mrtop16 mrbottom8"
                                           onclick="DismissResponse('@a.Id');"
                                           value="Отклонить" />
                                    <input type="button" class="btn btn-outline-dark w-200 mrtop16 mrbottom8"
                                           onclick="AcceptResponse('@a.Id', '@Model.User.Id', '@resume.Id');"
                                           value="Принять" />
                                }
                                else if (a.IsAccepted == 1)
                                {
                                    <p class="mrtop16 color-green">Отклик принят</p>
                                }
                                else if (a.IsAccepted == 2)
                                {
                                    <p class="mrtop16 color-red">Отклик отклонен</p>
                                }
                            </form>
                        </div>
                    }
                }
            }
        }
        else if (Model.User.Role == "Соискатель")
        {
            <div class="mrbottom8" title="Вы скачиваете файл Excel, с вашим результатом откликов"><a class="color-2c2c2c cursor-pointer hover-underline font-bolder" href="@Url.RouteUrl("downloadseekerstats", new { controller = "Settings", action = "Export", seekerId = Model.User.Id})">Скачать статистику</a></div>
            var seekerResume = Model.Resumes.FirstOrDefault(m => m.Id == Model.User.Id);
            foreach (var a in Model.Responses.OrderByDescending(a => a.Id))
            {
                if (a.IdUser == seekerResume.Id)
                {
                    <div class="account-back mrbottom16">
                        <form>
                            @{ var vacancy = Model.Vacancies.FirstOrDefault(v => v.Id == a.IdVacancy);
                                var employer = Model.Employers.FirstOrDefault(e => e.Id == vacancy.IdEmployer);
                                string city = Model.Cities.FirstOrDefault(c => c.Id == employer.IdCity).Name;
                                string companyName = employer.СompanyName;}
                            <p><u>@a.DateAndTime.ToString("f")</u></p>
                            <p class="font-bolder">@companyName</p>
                            <p class="mrbottom8">@city</p>
                            <p>@Model.Vacancies.FirstOrDefault(m => m.Id == a.IdVacancy).Position</p>
                            <p>@Model.Vacancies.FirstOrDefault(m => m.Id == a.IdVacancy).Salary руб.</p>
                            @if (a.IsAccepted == 0)
                            {
                                <p class="mrtop16 color-green">Мой отклик отправлен</p>
                            }
                            else if (a.IsAccepted == 1)
                            {
                                <p class="mrtop16 color-green">Работодатель принял отклик</p>
                            }
                            else if (a.IsAccepted == 2)
                            {
                                <p class="mrtop16 color-green">Работодатель отклонил отклик</p>
                            }
                        </form>
                    </div>
                }

            }
        }
    </div>
</div>

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruterra - Отклики</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/erik.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/recruterra.png" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/js/script.js" charset="utf-8"></script>
</head>
<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/Home/Index/@Model.User.Id">Recruterra</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Index/@Model.User.Id">Сводка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Vacancy/@Model.User.Id">Вакансии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Meeting/@Model.User.Id">Встречи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Resume/@Model.User.Id">Базы резюме</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Article/@Model.User.Id">Сообщество</a>
                    </li>
                </ul>
                <div class="text-end">
                    @if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id) == null)
                    {
                        <a class="btn btn-outline-dark me-2" href="/Home/Signin">Войти</a>
                    }
                    else if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Auth == 0)
                    {
                        <a class="btn btn-outline-dark me-2" href="/Home/Signin">Войти</a>
                    }
                    else if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Auth == 1)
                    {
                        <a class="font16 mrright16" href="/Home/Account/@Model.User.Id" name="">@Model.User.Login</a>
                        <a class="font16 mrright16" href="/Home/Account/@Model.User.Id" name="">@Model.User.Role</a>
                        <input type="button" title="Выйти из аккаунта" class="btn btn-outline-dark me-2" onclick="UpdateAccount('@Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Id')" value="Выйти" />
                    }
                </div>
            </nav>
        </header>

        <div class="container minheight860">

            <div class="leftbarvacancy mrleft256">
                <p class="color-bububu mrtop32 font-bold font20">Настройки пользователя</p>

                <p class="color-bububu mrtop32 font-bolder font16">Выберите нужное</p>
                <fieldset id="class1">
                    @{  if (Model.User.Role == "Соискатель")
                        {
                            <div class="form-check mrtop16">
                                <a href="/Home/Account/@Model.User.Id" class="font16" style="cursor: pointer"><label class="form-check-label mrtop3 cursor-pointer hover-underline">• Основная информация</label></a>
                            </div>
                            <div class="form-check">
                                <a href="/Print/Myresume/@Model.User.Id" class="font16" style="cursor: pointer"><label class="form-check-label mrtop3 cursor-pointer hover-underline">• Резюме</label></a>
                            </div>
                            <div class="form-check">
                                <a href="/ResponsesToVacancies/Responses/@Model.User.Id" class="font16" style="cursor: pointer"><label class="form-check-label mrtop3 cursor-pointer hover-underline">• Отклики</label></a>
                            </div>
                        }
                        if (Model.User.Role == "Работодатель")
                        {
                            <div class="form-check mrtop16">
                                <a href="/Home/Account/@Model.User.Id" class="font16" style="cursor: pointer"><label class="form-check-label mrtop3 cursor-pointer hover-underline">• Основная информация</label></a>
                            </div>
                            <div class="form-check">
                                <a href="/ResponsesToVacancies/Responses/@Model.User.Id" class="font16" style="cursor: pointer"><label class="form-check-label mrtop3 cursor-pointer hover-underline">• Отклики</label></a>
                            </div>
                        } }
                </fieldset>
            </div>

            <div class="rightbarvacancy w-100px mrbottom32">
                <div class="font16 font-bolder mrtop32 mrleft128" title="Вы скачиваете файл Excel, с вашим результатом откликов"><a class="color-bububu cursor-pointer hover-underline" href="@Url.RouteUrl("downloadseekerstats", new { controller = "ResponsesToVacancies", action = "Export", seekerId = Model.User.Id})">Скачать статистику</a></div>
                @{ string role = Model.User.Role;

                    if (role == "Работодатель")
                    {
                        foreach (var a in Model.Responses)
                        {
                            List<Vacancy> _vacancies = new List<Vacancy>();
                            foreach (var b in Model.Vacancies)
                            {
                                if (b.IdEmployer == Model.User.Id)
                                {
                                    _vacancies.Add(b);
                                }
                            }
                            foreach (var c in _vacancies)
                            {
                                if (a.IdVacancy == c.Id)
                                {
                                    var resume = Model.Resumes.FirstOrDefault(m => m.Id == a.IdUser);
                                    <div class="responsesback mrtop16 mrleft128">
                                        <div class="left">
                                            <div class="vacancyname1 mrtop32">
                                                <p class="font-bold">@c.Position</p>
                                            </div>
                                            <div class="vacancysalary1">
                                                <p class="">@resume.LastName @resume.FirstName.Substring(0, 1). @resume.MiddleName.Substring(0, 1).</p>
                                            </div>
                                            <div class="vacancysalary1 mrbottom32">
                                                <p class="">@a.DateAndTime.ToString("D")</p>
                                            </div>
                                        </div>
                                        @if (a.IsAccepted == 1)
                                        {
                                            <div class="rightresponses">
                                                @if (Model.User != null)
                                                {
                                                    <div class="">
                                                        <a class="font20num2 font-bolder text-decoration-none mrright32">Принят</a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else if (a.IsAccepted == 2)
                                        {
                                            <div class="rightresponses">
                                                @if (Model.User != null)
                                                {
                                                    <div class="">
                                                        <a class="font20num2 font-bolder text-decoration-none mrright32">Отклонен</a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="rightresponses">
                                                @if (Model.User != null)
                                                {
                                                    <div class="btnacceptresponse mrtop8">
                                                        <a class="btn btn-outline-dark w-80 mrright16" onclick="AcceptResponse('@a.Id'); RedirectResponsesToAddMeeting('@Model.User.Id', '@resume.Id');">Принять</a>
                                                    </div>
                                                }
                                            </div>
                                            <div class="rightresponses">
                                                @if (Model.User != null)
                                                {
                                                    <div class="btndismissresponse mrtop8">
                                                        <a class="btn btn-outline-dark w-80 mrright32" onclick="DismissResponse('@a.Id'); AutoRefreshResponses();">Отклонить</a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        var seekerResume = Model.Resumes.FirstOrDefault(m => m.Id == Model.User.Id);
                        foreach (var a in Model.Responses)
                        {
                            if (a.IdUser == seekerResume.Id)
                            {
                                <div class="responsesback mrtop16 mrleft128">
                                    <div class="left">
                                        <div class="stroka1">
                                            <div class="vacancyname1 mrtop20">
                                                <p class="font-bold">@Model.Vacancies.FirstOrDefault(m => m.Id == a.IdVacancy).Position</p>
                                            </div>
                                        </div>
                                        <div class="stroka2">
                                            <div class="vacancysalary1">
                                                <p class="">@Model.Vacancies.FirstOrDefault(m => m.Id == a.IdVacancy).Salary руб.</p>
                                            </div>
                                        </div>
                                        <div class="stroka2">
                                            <div class="vacancysalary1">
                                                <p class="mrbottom32">@a.DateAndTime.ToString("D")</p>
                                            </div>
                                        </div>
                                    </div>
                                    @if (a.IsAccepted == 1)
                                    {
                                        <div class="right">
                                            @if (Model.User != null)
                                            {
                                                <div class="">
                                                    <a class="font20num2 font-bolder mrright32">Принят</a>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else if (a.IsAccepted == 2)
                                    {
                                        <div class="right">
                                            @if (Model.User != null)
                                            {
                                                <div class="">
                                                    <a class="font20num2 font-bolder mrright32">Отклонен</a>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="right">
                                            @if (Model.User != null)
                                            {
                                                <div class="">
                                                    <a class="font20num2 font-bolder mrright32">В обработке</a>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>

        <footer class="backwhite">
            <div class="firstline">
                <div class="aboutus mrtop32">
                    <div class="aboutuss">
                        <a href="#" class="font16 fontbold">О нас</a>
                    </div>
                    <div class="aboutuscontext">
                        <a href="#" class="font16 fontregular">О сервисе</a> <br><br>
                        <a href="#" class="font16 fontregular">Пользовательское соглашение</a> <br><br>
                        <a href="#" class="font16 fontregular">Политика конфиденциальности</a> <br><br>
                    </div>
                </div>

                <div class="support mrtop32">
                    <div class="supportt">
                        <a href="" class="font16 fontbold">Поддержка</a>
                    </div>
                    <div class="devicescontext">
                        <a href="#" class="font16 fontregular">support@recruterra.ru</a> <br> <br>
                        <a href="#" class="font16 fontregular">8 (905) 020-99-52</a> <br><br>
                        <a href="#" class="font16 fontregular">FAQ</a> <br><br>
                    </div>
                </div>

                <div class="SocSeti mrtop32">
                    <div class="SocSetii">
                        <a href="#" class="font16 fontbold">Наши соц.сети</a>
                    </div>
                    <div class="SocSeticontext">
                        <a href="https://www.instagram.com/ar.gelick/"><img src="~/images/instagram.png" alt=""></a>
                        <a href="https://twitter.com/?lang=ru"><img src="~/images/twitter.png" alt=""></a>
                        <a href="https://www.facebook.com/"><img src="~/images/facebook.png" alt=""></a>
                        <a href="https://t.me/kurechh"><img src="~/images/telegram.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="copy">
                <table class="iksweb">
                    <tbody>
                        <tr>
                            <td><a href="" class="font36">Recruterra</a></td>
                            <td class="copyright"><a href="" class="copyright">© 2023</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </main>
</body>
</html>*@