@model IEnumerable<WebApplication2.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>
            <th>Role</th>
            <th>Photo</th>
        </tr>
        @foreach (WebApplication2.Models.User details in Model)
        {
            <tr>
                <td>@details.Id</td>
                <td>@details.Login</td>
                <td>@details.Password</td>
                <td>@details.Role</td>
                <td>@details.Photo</td>
            </tr>
        }
    </table>
</body>
</html>