@model IndexData
@{
    ViewBag.Title = "Recruterra - Встречи";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-2c2c2c">Сводка</a>
                    <a href="/Home/Vacancy" class="color-2c2c2c">Вакансии</a>
                    <a href="/Home/Meeting" class="color-green">Встречи</a>
                    <a href="/Home/Resume" class="color-2c2c2c">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="/Settings/Account" class="color-2c2c2c">Профиль</a>
                    <a class="color-green" onclick="UpdateAccount()">Выйти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Access/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-green" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container margin-0-auto minheight">
    @{ List<Meeting> employerMeetings = new List<Meeting>();
        employerMeetings = Model.Meetings.Where(m => m.IdEmployer == Model.User.Id).ToList();
        List<Meeting> seekerMeetings = new List<Meeting>();
        seekerMeetings = Model.Meetings.Where(m => m.IdResume == Model.User.Id).ToList();
        string role = Model.User.Role;}
    @if (role == "Соискатель")
    {
        foreach (var a in seekerMeetings.OrderByDescending(o => o.DateAndTime))
        {
            if (a != null)
            {
                <div class="meetings-back mrtop16">
                    <div class="media-wrap-text align-items-center">
                        <div class="meeting-back-left">
                            <p><b>@a.Employer.CompanyName</b></p>
                            <p>@a.Employer.City.Name ул.@a.Employer.Street д.@a.Employer.House п.@a.Employer.Apartment</p>
                            <p>@a.DateAndTime.ToString("f")</p>
                        </div>
                        <div class="meeting-back-right">
                            @if (a.IsActive == true)
                            {
                                if (a.DateAndTime.Date == DateTime.Now.Date)
                                {
                                    <a class="font-18 color-2c2c2c color-green">Сегодня</a>
                                }
                                else
                                {
                                    if (a.DateAndTime.Date > DateTime.Now.Date)
                                    {
                                        <a class="btn btn-outline-primary nav-link font-18 color-2c2c2c cursor-pointer" onclick="DeleteMeetingForSeekers('@Model.User.Id', '@a.Id');">Отменить</a>
                                    }
                                    else if (a.DateAndTime.Date < DateTime.Now.Date)
                                    {
                                        <a class="font-18 color-2c2c2c">Прошла</a>
                                    }
                                }
                            }
                            else if (a.IsActive == false)
                            {
                                <a class="font-18 color-2c2c2c color-red">Отменена</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        if (seekerMeetings.Count == 0)
        {
            <div class="meetings-back mrtop16">
                <p><b>У вас не имеется встреч</b></p>
            </div>
        }
    }
    else if (role == "Работодатель")
    {
        foreach (var a in employerMeetings.OrderByDescending(o => o.DateAndTime))
        {
            if (a != null)
            {
                <div class="meetings-back mrtop16">
                    <div class="media-wrap-text align-items-center">
                        <div class="meeting-back-left">
                            <p class="mr-right-1dot6percent font-bolder">@a.Resume.LastName @a.Resume.FirstName @a.Resume.MiddleName</p>
                            @{var date = a.Resume.DateOfBirth.Value;
                                var age = DateTime.Now.Year - date.Year;
                                if (DateTime.Now.DayOfYear < date.DayOfYear)
                                {
                                    age++;
                                }
                            }
                            <p>Возраст: @age @Model.GetYearNameInRussian(age)</p>
                            <p>@a.DateAndTime.ToString("f")</p>
                        </div>
                        <div class="meeting-back-right">
                            @if (a.IsActive == true)
                            {
                                if (a.DateAndTime.Date == DateTime.Now.Date)
                                {
                                    <a class="font-18 color-2c2c2c color-green">Сегодня</a>
                                }
                                else
                                {
                                    if (a.DateAndTime.Date > DateTime.Now.Date)
                                    {
                                        <a class="btn btn-outline-primary nav-link font-18 color-2c2c2c cursor-pointer" onclick="DeleteMeetingForEmployers('@Model.User.Id', '@a.Id');">Отменить</a>
                                    }
                                    else if (a.DateAndTime.Date < DateTime.Now.Date)
                                    {
                                        <a class="font-18 color-2c2c2c">Прошла</a>
                                    }
                                }
                            }
                            else if (a.IsActive == false)
                            {
                                <a class="font-18 color-2c2c2c color-red">Отменена</a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        if (employerMeetings.Count == 0)
        {
            <div class="meetings-back mrtop16">
                <p><b>У вас не имеется встреч</b></p>
            </div>
        }
    }
</div>
