@model IndexData
@{
    ViewBag.Title = "Recruterra - Резюме пользователей";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-2c2c2c">Сводка</a>
                    <a href="/Home/Vacancy" class="color-2c2c2c">Вакансии</a>
                    <a href="/Home/Meeting" class="color-2c2c2c">Встречи</a>
                    <a href="/Home/Resume" class="color-green">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="/Settings/Account" class="color-2c2c2c">Профиль</a>
                    <a class="color-green" onclick="UpdateAccount()">Выйти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Access/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-green" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container margin-0-auto minheight">
    <p class="color-2c2c2c font-bold font24 mrtop16 mrbottom8 cursor-default">Получено @Model.Resumes.Where(m => m.ItsPublic == true).Count() резюме</p>
    @{ var publicResumes = Model.Resumes.Where(m => m.ItsPublic == true);
        string role = Model.User.Role;}
    @if (role == "Соискатель" || role == "Работодатель")
    {
        foreach (var resume in publicResumes)
        {
            if (resume != null)
            {
                <div class="resumes-back mrbottom16 align-items-center">
                    <div class="resumes-back-left">
                        <p class="cursor-default" title="ФИО соискателя"><b>@resume.LastName</b> @resume.FirstName @resume.MiddleName</p>
                        @{var date = resume.DateOfBirth.Value;
                            var age = DateTime.Now.Year - date.Year;
                            if (DateTime.Now.DayOfYear < date.DayOfYear)
                            {
                                age++;
                            }
                        }
                        <p class="cursor-default" title="Возраст">Возраст: @age @Model.GetYearNameInRussian(age)</p>
                        <p class="cursor-default" title="Город">Город: @resume.City.Name</p>
                        <p class="cursor-default" title="Предполагаемая должность ">Должность: @resume.Position - з/п: @resume.Salary руб.</p>
                        @if (resume.WorkExperience != 0)
                        {
                            <p class="cursor-default" title="Опыт работы и тип занятости">Опыт работы: @resume.WorkExperience @Model.GetYearNameInRussian(resume.WorkExperience) - @resume.TypeOfEmployment.Type</p>
                        }
                        else
                        {
                            <p class="cursor-default" title="Опыт работы и тип занятости">@Model.GetYearNameInRussian(resume.WorkExperience) @resume.TypeOfEmployment.Type</p>
                        }
                        <p class="mrtop16 cursor-default" title="Дополнительная информация">@resume.AdditionalInformation</p>
                    </div>
                    <div class="resumes-back-right">
                        @if (resume.Photo == null || resume.Photo == string.Empty)
                        {
                            <img class="resumes-photo-up-wh cursor-default" src="~/images/recruterra.png" width="105" height="120" title="Фотография" />
                        }
                        else if (resume.Photo != null)
                        {
                            <img class="resumes-photo-up-wh cursor-default" src="~/images/@resume.Photo" width="105" height="120" title="Фотография" />
                        }
                    </div>
                </div>
            }
        }
    }
</div>