@model IndexData
@{
    ViewBag.Title = "Recruterra - Вакансии";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-2c2c2c">Сводка</a>
                    <a href="/Home/Vacancy" class="color-green">Вакансии</a>
                    <a href="/Home/Meeting" class="color-2c2c2c">Встречи</a>
                    <a href="/Home/Resume" class="color-2c2c2c">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="/Settings/Account" class="color-2c2c2c">Профиль</a>
                    <a class="color-green" onclick="UpdateAccount()">Выйти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Access/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-green" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container justify-content-center mrtop16 dd-flex minheight">
    @{
        var vacancies = Model.Vacancies.Where(m => m.IdEmployer == Model.User.Id);
        string role = Model.User.Role;
        if (role == "Соискатель")
        {
            <div class="vacancy-left">
                <p class="font-bolder font-24 media-header-false cursor-default">Фильтры</p>
                <p class="font-bolder font-24 media-header-true dropbtn cursor-default" onclick="filterDropDown()">Фильтры &#9776;</p>
                <form id="myDropdownFilter" class="dropdown-content-filter">
                    <p class="font-bolder font-18 mrtop8 mrleft16 cursor-default">Уровень дохода</p>
                    <fieldset id="class1" class="mrleft16">
                        <div class="form-check">
                            <input class="form-check-input" value="0" type="radio" name="class1" id="salaryRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio1">Не имеет значения</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="30000" type="radio" name="class1" id="salaryRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio2">От 30 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="50000" type="radio" name="class1" id="salaryRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio3">От 50 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="75000" type="radio" name="class1" id="salaryRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio4">От 75 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="95000" type="radio" name="class1" id="salaryRadio5">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio5">От 95 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="120000" type="radio" name="class1" id="salaryRadio6">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio6">От 120 000 руб.</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8 mrleft16">Город</p>
                    <fieldset id="class2" class="mrleft16">
                        <div class="form-check">
                            <input class="form-check-input" value="Казань" type="radio" name="class2" id="cityRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Казань</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Москва" type="radio" name="class2" id="cityRadio1">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Москва</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Санкт-Петербург" type="radio" name="class2" id="cityRadio1">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Санкт-Петербург</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8 mrleft16">Образование</p>
                    <fieldset id="class3" class="mrleft16">
                        <div class="form-check">
                            <input class="form-check-input" value="Высшее" type="radio" name="class3" id="educationRadio1"
                                   checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="educationRadio1">Высшее</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Среднее профессиональное" type="radio" name="class3"
                                   id="educationRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="educationRadio2">
                                Среднее
                                профессиональное
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Среднее общее" type="radio" name="class3"
                                   id="educationRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="educationRadio3">Среднее общее</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8 mrleft16">Опыт работы</p>
                    <fieldset id="class4" class="mrleft16">
                        <div class="form-check">
                            <input class="form-check-input" value="0" type="radio" name="class4" id="workexRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio1">Нет опыта</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="class4" id="workexRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio2">Более 1 года</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="3" type="radio" name="class4" id="workexRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio3">Более 3 лет</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="6" type="radio" name="class4" id="workexRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio4">Более 6 лет</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8 mrleft16">Тип занятости</p>
                    <fieldset id="class5" class="mrleft16">
                        <div class="form-check">
                            <input class="form-check-input" value="2" type="radio" name="class5" id="employmenttypeRadio1"
                                   checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio1">Полная</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="class5" id="employmenttypeRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio2">Частичная</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="3" type="radio" name="class5" id="employmenttypeRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio3">Стажировка</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="4" type="radio" name="class5" id="employmenttypeRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio4">
                                Проектная
                                работа
                            </label>
                        </div>
                    </fieldset>
                    <input type="button" class="btn btn-outline-dark w-200 mrtop16 mrleft16 mrbottom8" value="Применить"
                           onclick="FilterAccept('@Model.User.Id', this.form.class1.value, this.form.class2.value, this.form.class3.value, this.form.class4.value,this.form.class5.value)" />
                </form>


                <form class="media-filter-false">
                    <p class="font-bolder font-18 mrtop8 cursor-default">Уровень дохода</p>
                    <fieldset id="class1">
                        <div class="form-check">
                            <input class="form-check-input" value="0" type="radio" name="class1" id="salaryRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio1">Не имеет значения</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="30000" type="radio" name="class1" id="salaryRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio2">От 30 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="50000" type="radio" name="class1" id="salaryRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio3">От 50 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="75000" type="radio" name="class1" id="salaryRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio4">От 75 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="95000" type="radio" name="class1" id="salaryRadio5">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio5">От 95 000 руб.</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="120000" type="radio" name="class1" id="salaryRadio6">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="salaryRadio6">От 120 000 руб.</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8">Город</p>
                    <fieldset id="class2">
                        <div class="form-check">
                            <input class="form-check-input" value="Казань" type="radio" name="class2" id="cityRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Казань</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Москва" type="radio" name="class2" id="cityRadio1">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Москва</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Санкт-Петербург" type="radio" name="class2" id="cityRadio1">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="cityRadio1">Санкт-Петербург</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8">Образование</p>
                    <fieldset id="class3">
                        <div class="form-check">
                            <input class="form-check-input" value="Высшее" type="radio" name="class3" id="educationRadio1"
                                   checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="educationRadio1">Высшее</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Среднее профессиональное" type="radio" name="class3"
                                   id="educationRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal"
                                   for="educationRadio2">Среднее<br>профессиональное</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="Среднее общее" type="radio" name="class3"
                                   id="educationRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="educationRadio3">Среднее общее</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8">Опыт работы</p>
                    <fieldset id="class4">
                        <div class="form-check">
                            <input class="form-check-input" value="0" type="radio" name="class4" id="workexRadio1" checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio1">Не имеет значения</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="class4" id="workexRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio2">Более 1 года</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="3" type="radio" name="class4" id="workexRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio3">Более 3 лет</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="6" type="radio" name="class4" id="workexRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="workexRadio4">Более 6 лет</label>
                        </div>
                    </fieldset>

                    <p class="font-bolder font-18 mrtop8">Тип занятости</p>
                    <fieldset id="class5">
                        <div class="form-check">
                            <input class="form-check-input" value="2" type="radio" name="class5" id="employmenttypeRadio1"
                                   checked>
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio1">Полная</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="class5" id="employmenttypeRadio2">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio2">Частичная</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="3" type="radio" name="class5" id="employmenttypeRadio3">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio3">Стажировка</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="4" type="radio" name="class5" id="employmenttypeRadio4">
                            <label class="form-check-label mr-left-1percent font-weight-normal" for="employmenttypeRadio4">
                                Проектная
                                работа
                            </label>
                        </div>
                    </fieldset>
                    <input type="button" class="btn btn-outline-dark w-200 mrtop16" value="Применить"
                           onclick="FilterAccept('@Model.User.Id', this.form.class1.value, this.form.class2.value, this.form.class3.value, this.form.class4.value,this.form.class5.value)" />
                </form>
            </div>

            <div class="vacancy-right">
                @{var seeker = Model.Resumes.FirstOrDefault(r => r.Id == Model.User.Id);
                    List<Vacancy> startCity = new List<Vacancy>();
                    List<Vacancy> anotherCity = new List<Vacancy>();
                }
                @foreach (var vacancy in Model.Vacancies)
                {
                    int cityByThisVacancy = Model.Cities.FirstOrDefault(c => c.Id == vacancy.Employer.IdCity).Id;
                    if (seeker.IdCity == cityByThisVacancy)
                    {
                        startCity.Add(vacancy);
                    }
                    else
                    {
                        anotherCity.Add(vacancy);
                    }
                }

                @foreach (var vacancy in startCity.Concat(anotherCity).Where(a => a.IsConfirmed == true))
                {

                    if (vacancy.IsActive == true)
                    {
                        <div class="vacancy-vacancy-back d-flex align-items-center mrbottom16">
                            <div class="vacancy-back-left mr-right-1dot6percent">
                                <div class="media-wrap-text align-items-center">
                                    <a class="mr-right-1dot6percent color-2c2c2c font-bolder color-green-hover" title="Наименование вакансии" href="/Vacancys/OneOfTheVacancy/@vacancy.Id/@Model.User.Id">@vacancy.Position</a>
                                    <p class="mrright8 cursor-default" title="Заработная плата">@vacancy.Salary руб.</p>
                                    @if (vacancy.Salary > vacancy.OptimalSalary)
                                    {
                                        <p class="color-red cursor-default" title="Оптимальная заработная плата">(@vacancy.OptimalSalary руб.)</p>
                                    }
                                    else
                                    {
                                        <p class="color-green cursor-default" title="Оптимальная заработная плата">(@vacancy.OptimalSalary руб.)</p>
                                    }

                                </div>
                                <div class="media-wrap-text align-items-center">
                                    @if (vacancy.WorkExperience != 0)
                                    {
                                        <p class="mr-right-1dot6percent cursor-default" title="Требуемый опыт работы">@vacancy.WorkExperience @Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    else
                                    {
                                        <p class="mr-right-1dot6percent cursor-default" title="Требуемый опыт работы">@Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    <p class="mr-right-1dot6percent cursor-default" title="Тип занятости">@Model.TypeOfEmployments.FirstOrDefault(type => type.Id == vacancy.IdTypeOfEmployment).Type</p>
                                    <p class="cursor-default" title="Город">@Model.Employers.FirstOrDefault(employer => employer.Id == (Model.Vacancies.FirstOrDefault(m => m.Id == vacancy.Id).IdEmployer)).City.Name</p>
                                </div>
                                <br>
                                <p class="media-font-lower cursor-default" title="Требования к соискателю">@vacancy.Obligations</p>
                            </div>
                            <div class="vacancy-back-right">
                                @if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == vacancy.Id) != null)
                                {
                                    if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == vacancy.Id).IsAccepted == 0)
                                    {
                                        <a class="font-18 color-2c2c2c cursor-default" title="Вы уже откликались на эту вакансию">Отправлен</a>
                                    }
                                    else if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == vacancy.Id).IsAccepted == 1)
                                    {
                                        <a class="font-18 color-green cursor-default" title="Ваш отклик был принят работодателем. Вам должны были назначить встречу!">Принят</a>
                                    }
                                    else if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == vacancy.Id).IsAccepted == 2)
                                    {
                                        <a class="font-18 color-red cursor-default" title="Ваш отклик был отклонен работодателем">Отклонен</a>
                                    }
                                }
                                else
                                {
                                    var resume = Model.Resumes.FirstOrDefault(r => r.Id == Model.User.Id);
                                    if (resume.LastName != null && resume.FirstName != null && resume.MiddleName != null && resume.Gender != null && resume.Photo != null && resume.DateOfBirth != null && resume.PhoneNumber != null && resume.IdCity != null && resume.IdCitizenship != null && resume.Position != null && resume.Salary != null && resume.Education != null && resume.University != null && resume.WorkExperience != null && resume.IdTypeOfEmployment != null && resume.AdditionalInformation != null)
                                    {
                                        <a class="btn btn-outline-primary font-18 color-2c2c2c cursor-pointer" onclick="CreateFakeResponse();">Отклик</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-primary font-18 color-2c2c2c cursor-pointer" onclick="CreateResponse('@Model.User.Id', '@vacancy.Id');">Отклик</a>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
                @if (startCity.Concat(anotherCity).Where(a => a.IsConfirmed == true).Count() == 0)
                {
                    <div class="vacancy-vacancy-back d-flex align-items-center mrbottom16">
                        <p class="color-2c2c2c cursor-default"><b>Вакансии не найдены</b></p>
                    </div>
                }
            </div>
        }
        else if (role == "Работодатель")
        {
            <div class="vacancy-left">
                @{var employer = Model.Employers.FirstOrDefault(e => e.Id == Model.User.Id);} 
                @if (employer.IsApproved == true)
                {
                    <a href="/Vacancys/AddVacancy" title="Добавление новой вакансии" class="font-bolder font-24 media-header-false color-2c2c2c color-green-hover">Добавить</a>
                    <a href="/Vacancys/AddVacancy" title="Добавление новой вакансии" class="font-bolder font-24 media-header-true color-2c2c2c color-green-hover">Добавить</a>
                }
                else
                {
                    <a class="font-bolder font-24 media-header-false color-2c2c2c color-green-hover cursor-pointer" title="Добавление новой вакансии" onclick="CreateVacancyFake()">Добавить</a>
                    <a class="font-bolder font-24 media-header-true color-2c2c2c color-green-hover cursor-pointer" title="Добавление новой вакансии" onclick="CreateVacancyFake()">Добавить</a>
                }
            </div>
            <div class="vacancy-right">
                @foreach (var vacancy in vacancies.OrderByDescending(o => o.IsActive).ThenByDescending(o => o.Id))
                {
                    if (vacancy.IsConfirmed == true)
                    {
                        <div class="vacancy-vacancy-back align-items-center mrbottom16">
                            <div class="vacancy-back-left mr-right-1dot6percent">
                                <div class="media-wrap-text align-items-center">
                                    <a class="mr-right-1dot6percent color-2c2c2c font-bolder color-green-hover cursor-pointer" title="Наименование вакансии" onclick="RedirectToOneOfTheVacancy('@vacancy.Id', '@Model.User.Id')">@vacancy.Position</a>
                                    <p class="" title="Заработная плата">@vacancy.Salary рублей</p>
                                </div>
                                <div class="media-wrap-text align-items-center">
                                    @if (vacancy.WorkExperience != 0)
                                    {
                                        <p class="mr-right-1dot6percent" title="Требуемый опыт работы">@vacancy.WorkExperience @Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    else
                                    {
                                        <p class="mr-right-1dot6percent" title="Требуемый опыт работы">@Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    <p class="mr-right-1dot6percent" title="Тип занятости">@Model.TypeOfEmployments.FirstOrDefault(type => type.Id == vacancy.IdTypeOfEmployment).Type</p>
                                    <p class="" title="Город">@Model.Employers.FirstOrDefault(employer => employer.Id == (Model.Vacancies.FirstOrDefault(m => m.Id == vacancy.Id).IdEmployer)).City.Name</p>
                                </div>
                                <br>
                                <p class="media-font-lower" title="Требования к соискателю">@vacancy.Obligations</p>
                            </div>
                            <div class="vacancy-back-right">
                                @if (vacancy.IsActive == true)
                                {
                                    <a onclick="DeleteVacancy('@vacancy.Id');" class="btn btn-outline-primary font-18 color-2c2c2c cursor-pointer">Удалить</a>
                                }
                                else if (vacancy.IsActive == false)
                                {
                                    <a class="font-18 color-2c2c2c" title="Вакансия была удалена">Удалена</a>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="vacancy-vacancy-back align-items-center mrbottom16">
                            <div class="vacancy-back-left mr-right-1dot6percent">
                                <div class="media-wrap-text align-items-center">
                                    <a class="mr-right-1dot6percent color-2c2c2c font-bolder color-green-hover cursor-pointer" title="Наименование вакансии" onclick="RedirectToOneOfTheVacancy('@vacancy.Id', '@Model.User.Id')">@vacancy.Position</a>
                                    <p class="" title="Заработная плата">@vacancy.Salary рублей</p>
                                </div>
                                <div class="media-wrap-text align-items-center">
                                    @if (vacancy.WorkExperience != 0)
                                    {
                                        <p class="mr-right-1dot6percent" title="Требуемый опыт работы">@vacancy.WorkExperience @Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    else
                                    {
                                        <p class="mr-right-1dot6percent" title="Требуемый опыт работы">@Model.GetYearNameInRussian(vacancy.WorkExperience)</p>
                                    }
                                    <p class="mr-right-1dot6percent" title="Тип занятости">@Model.TypeOfEmployments.FirstOrDefault(type => type.Id == vacancy.IdTypeOfEmployment).Type</p>
                                    <p class="" title="Город">@Model.Employers.FirstOrDefault(employer => employer.Id == (Model.Vacancies.FirstOrDefault(m => m.Id == vacancy.Id).IdEmployer)).City.Name</p>
                                </div>
                                <br>
                                <p class="media-font-lower" title="Требования к соискателю">@vacancy.Obligations</p>
                            </div>
                            <div class="vacancy-back-right">
                                <a class="font-18 color-2c2c2c" title="Вакансия обрабатывается администраторами">В обработке</a>
                            </div>
                        </div>
                    }
                }
                @if (vacancies.OrderByDescending(o => o.IsActive).ThenByDescending(o => o.Id).Count() == 0)
                {
                    <div class="vacancy-vacancy-back align-items-center mrbottom16">
                        <p><b>У вас не имеется вакансий</b></p>
                    </div>
                }
            </div>
        }
    }
</div>