@model OneOfTheVacancyData
@{
    ViewBag.Title = $"Recruterra - Вакансия: {Model.Vacancy.Position}";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light media-header-true">
        <div class="container d-flex justify-content-center ">
            @if (Model.User != null)
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown()">&#9776;</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/Home/Index" class="color-green">Сводка</a>
                    <a href="/Home/Vacancy" class="color-2c2c2c">Вакансии</a>
                    <a href="/Home/Meeting" class="color-2c2c2c">Встречи</a>
                    <a href="/Home/Resume" class="color-2c2c2c">Резюме</a>
                    <a href="/Home/Article" class="color-2c2c2c">Сообщество</a>
                    <a href="#" class="color-green">Войти</a>
                </div>
            }
            else
            {
                <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                <a class="nav-link font-24 fontbold color-green dropbtn" onclick="menuDropDown2()">&#9776;</a>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="/Home/Signin" class="color-green">Войти</a>
                </div>
            }
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light media-header">
        <div class="container d-flex justify-content-center ">
            <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
                @if (Model.User != null)
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Index">Сводка</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Vacancy">Вакансии</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Meeting">Встречи</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Home/Resume">Резюме</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover"
                           href="/Home/Article">Сообщество</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-18 fontbold color-black color-green-hover" href="/Settings/Account">Профиль</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black cursor-pointer" onclick="UpdateAccount()">Выйти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="nav-link font-24 fontbold color-green" href="/Home/Index">Recruterra</a>
                    </li>
                    <li class="nav-item mr-right-1dot6percent">
                        <a class="btn btn-outline-primary nav-link font-18 font-bolder color-black" href="/Access/Signin">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>

<div class="container margin-0-auto minheight">
    <div class="mrtop16">
        <a href="/Home/Vacancy" class="font-18 color-2c2c2c font-bolder color-green-hover">Вакансии</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18">
            <path fill="currentColor"
                  d="M5.293 12.293a1 1 0 1 0 1.414 1.414l5-5a1 1 0 0 0 0-1.414l-5-5a1 1 0 0 0-1.414 1.414L9.586 8l-4.293 4.293Z">
            </path>
        </svg>
        <a class="font-18 color-2c2c2c font-bolder">@Model.Vacancy.Position</a>
    </div>
    <div class="oneofthevacancy-back mrtop16">
        @{ var emloyer = Model.Employers.FirstOrDefault(e => e.Id == Model.Vacancy.IdEmployer);}
        <div class="employer-info">
            <p class="mr-right-1dot6percent">@emloyer.CompanyName</p>
            <p class="mr-right-1dot6percent">город: @Model.Cities.FirstOrDefault(city => city.Id == emloyer.IdCity).Name</p>
            <p class="mr-right-1dot6percent">улица: @emloyer.Street</p>
            <p class="mr-right-1dot6percent">дом: @emloyer.House</p>
            <p>помещение: @emloyer.Apartment</p>
        </div>
        <hr class="bg-dark border-2 border-top border-dark">
        <div class="vacancy-info">
            <p class="font-24 font-bolder">@Model.Vacancy.Position</p>
            <p class="font-18">@Model.Vacancy.Salary рублей</p>
            <p class="font-16 mrtop8">Требуемый опыт работы: @Model.GetWorkEx()</p>
            <p class="font-16">Образование: @Model.Vacancy.Education</p>
            <p class="font-16">@Model.TypeOfEmployments.FirstOrDefault(t => t.Id == Model.Vacancy.IdTypeOfEmployment).Type</p>
            <p class="font-16 mrtop8" style="text-align: justify;">
                @Model.Vacancy.Obligations
            </p>
            <p class="font-16 mrtop8" style="text-align: justify;">
                @Model.Vacancy.Description
            </p>
            @if (Model.User.Role == "Соискатель")
            {
                <input type="button" class="btn btn-outline-dark w-200 mrtop16"
                       onclick="CreateResponse('@Model.User.Id', '@Model.Vacancy.Id');"
                       value="Откликнуться" />
            }
            else if (Model.User.Role == "Работодатель")
            {
                <input type="button" class="btn btn-outline-dark w-200 mrtop16"
                       onclick="DeleteVacancyInOOTV('@Model.Vacancy.Id');"
                       value="Удалить" />
            }
        </div>
    </div>
</div>