@model OneOfTheVacancyData
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruterra - Вакансия</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/erik.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/user.png" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="~/js/script.js" charset="utf-8"></script>
</head>
<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/Home/Index/@Model.User.Id">Recruterra</a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Index/@Model.User.Id">Сводка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link under-line color-green font-bold" href="/Home/Vacancy/@Model.User.Id">Вакансии</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Meeting/@Model.User.Id">Встречи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Resume/@Model.User.Id">Базы резюме</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-bold" href="/Home/Article/@Model.User.Id">Сообщество</a>
                    </li>
                </ul>
                <div class="text-end">
                    @if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id) == null)
                    {
                        <a class="btn btn-outline-dark me-2" href="/Home/Signin">Войти</a>
                    }
                    else if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Auth == 0)
                    {
                        <a class="btn btn-outline-dark me-2" href="/Home/Signin">Войти</a>
                    }
                    else if (Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Auth == 1)
                    {
                        <a class="font16 mrright16" href="/Home/Account/@Model.User.Id" name="">@Model.User.Login</a>
                        <a class="font16 mrright16" href="/Home/Account/@Model.User.Id" name="">@Model.User.Role</a>
                        <input type="button" class="btn btn-outline-dark me-2" onclick="UpdateAccount('@Model.Accounts.LastOrDefault(m => m.IdUser == Model.User.Id).Id')" value="Выйти" />
                    }
                </div>
            </nav>
        </header>

        <div class="container height650">
            @{ string role = Model.User.Role;
                <div class="color-bububu mrtop16">
                    <a href="/Home/Vacancy/@Model.User.Id" class="color-bububu font-bolder font16 mrleft256 mrleftvacan">Вакансии</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="18">
                        <path fill="currentColor" d="M5.293 12.293a1 1 0 1 0 1.414 1.414l5-5a1 1 0 0 0 0-1.414l-5-5a1 1 0 0 0-1.414 1.414L9.586 8l-4.293 4.293Z"></path>
                    </svg>
                    <a href="/Vacancys/OneOfTheVacancy/@Model.Vacancy.Id/@Model.User.Id" class="color-bububu font-bolder font16">@Model.Vacancy.Position</a>
                </div>      
                <form method="post">
                    <div class="rightbarvacancy">
                        <div class="oneofthevacancyback mrtop16 mrleft256 mrleftvacan">
                            <div class="employerback">
                                <p class="mrleft32 mrtop16 mrbottom16 font-weight-normal font16">@Model.Employers.FirstOrDefault(employer => employer.Id == Model.Vacancy.IdEmployer).СompanyName</p>
                                <p class="mrleft32 mrtop16 mrbottom16 font-weight-normal font16">город: @Model.Cities.FirstOrDefault(city => city.Id == Model.Employers.FirstOrDefault(employer => employer.Id == Model.Vacancy.IdEmployer).IdCity).Name</p>
                                <p class="mrleft32 mrtop16 mrbottom16 font-weight-normal font16">ул: @Model.Employers.FirstOrDefault(employer => employer.Id == Model.Vacancy.IdEmployer).Street</p>
                                <p class="mrleft32 mrtop16 mrbottom16 font-weight-normal font16">дом: @Model.Employers.FirstOrDefault(employer => employer.Id == Model.Vacancy.IdEmployer).House</p>
                                <p class="mrleft32 mrtop16 mrbottom16 font-weight-normal font16">помещение: @Model.Employers.FirstOrDefault(employer => employer.Id == Model.Vacancy.IdEmployer).Apartment</p>
                            </div>
                            <div class="leftoneofthevacancy">
                                @{ if (Model.Vacancy != null)
                                    {

                                        <p class="mrleft32 mrtop16 font32">@Model.Vacancy.Position</p>
                                        <p class="mrleft32 mrtop16 font24">@Model.Vacancy.Salary руб.</p>
                                        <p class="mrleft32 mrtop16 font16">Требуемый опыт работы: @Model.GetWorkEx()</p>
                                        <p class="mrleft32 mrtop8 font16">Образование: @Model.Vacancy.Education</p>
                                        <p class="mrleft32 mrtop8 font16">@Model.TypeOfEmployments.FirstOrDefault(type => type.Id == Model.Vacancy.IdTypeOfEmployment).Type занятость</p>
                                        <div class="vacancyaddinfooneofthevacancy">
                                            <p>@Model.Vacancy.Obligations</p>
                                        </div>
                                        <div class="vacancyaddinfooneofthevacancy">
                                            <p>@Model.Vacancy.Description</p>
                                        </div>
                                    }
                                }
                            </div>
                            @if (role == "Соискатель")
                            {
                                if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == Model.Vacancy.Id) == null)
                                {
                                    <input type="button" class="btn btn-outline-dark w-200 mrtop16 mrleft32 mrbottom32" onclick="CreateResponse('@Model.User.Id', '@Model.Vacancy.Id'); HappyMassage()" value="Откликнуться" />
                                }
                                else if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == Model.Vacancy.Id).IsAccepted == 0)
                                {
                                    <div class="mrtop16 display-flex">
                                        <a class="font20num2 font-bolder text-decoration-none mrleft32 mrbottom32">Отклик отправлен</a>
                                    </div>
                                }
                                else if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == Model.Vacancy.Id).IsAccepted == 1)
                                {
                                    <div class="mrtop16 display-flex">
                                        <a class="font20num2 font-bolder text-decoration-none mrleft32 mrbottom32">Отклик принят</a>
                                    </div>
                                }
                                else if (Model.Responses.FirstOrDefault(m => m.IdUser == Model.User.Id && m.IdVacancy == Model.Vacancy.Id).IsAccepted == 2)
                                {
                                    <div class="mrtop16 display-flex">
                                        <a class="font20num2 font-bolder text-decoration-none mrleft32 mrbottom32">Отклик отклонен</a>
                                    </div>
                                }
                            }
                            else if (role == "Работодатель")
                            {
                                <input type="button" class="btn btn-outline-dark w-200 mrtop16 mrleft32 mrbottom32" onclick="DeleteVacancy('@Model.Vacancy.Id'); RedirectOneOfTheVacancyToVacancy('@Model.User.Id');" value="Удалить" />
                            }
                        </div>
                    </div>
                </form>
                }
        </div>

        <footer class="backwhite">
            <div class="firstline">
                <div class="aboutus mrtop32">
                    <div class="aboutuss">
                        <a href="#" class="font16 fontbold">О нас</a>
                    </div>
                    <div class="aboutuscontext">
                        <a href="#" class="font16 fontregular">О сервисе</a> <br><br>
                        <a href="#" class="font16 fontregular">Пользовательское соглашение</a> <br><br>
                        <a href="#" class="font16 fontregular">Политика конфиденциальности</a> <br><br>
                    </div>
                </div>

                <div class="support mrtop32">
                    <div class="supportt">
                        <a href="" class="font16 fontbold">Поддержка</a>
                    </div>
                    <div class="devicescontext">
                        <a href="#" class="font16 fontregular">support@recruterra.ru</a> <br> <br>
                        <a href="#" class="font16 fontregular">8 (905) 020-99-52</a> <br><br>
                        <a href="#" class="font16 fontregular">FAQ</a> <br><br>
                    </div>
                </div>

                <div class="SocSeti mrtop32">
                    <div class="SocSetii">
                        <a href="#" class="font16 fontbold">Наши соц.сети</a>
                    </div>
                    <div class="SocSeticontext">
                        <a href="https://www.instagram.com/ar.gelick/"><img src="~/images/instagram.png" alt=""></a>
                        <a href="https://twitter.com/?lang=ru"><img src="~/images/twitter.png" alt=""></a>
                        <a href="https://www.facebook.com/"><img src="~/images/facebook.png" alt=""></a>
                        <a href="https://t.me/kurechh"><img src="~/images/telegram.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="copy">
                <table class="iksweb">
                    <tbody>
                        <tr>
                            <td><a href="" class="font36">Recruterra</a></td>
                            <td class="copyright"><a href="" class="copyright">© 2023</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </footer>
    </main>
</body>
</html>